<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewSwiftPro.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE47F08EF1C1672574C9C03A</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>BE47F2D49E358A11A6F2A35D</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>BE47FD904963B0080AFC7B8A</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
